*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel Decorative', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'PT Sans', sans-serif;
}

.inicio-sesion{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-cuenta{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-principal{
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0.1rem 0.1rem 1rem black;
}

.contenedor-tarjeta{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080202;
}

.contenedor-formulario{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

.tarjeta{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(../img/aurora1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 20px;
}

.tarjeta div{
    margin-left: 40px;
}

.tarjeta img{
    width: 10%;
}

.tarjeta-2{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(../img/aurora2.jpeg);
    background-size: cover;
    border-radius: 20px;
}

.tarjeta-2 div{
    margin-left: 40px;
}

.tarjeta-2 img{
    width: 10%;
}

.nombre-cliente{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.nombre-banco h1{
    font-size: 40px;
    color: aliceblue;
}

h2{
    font-size: 25px;
    color: aliceblue;
}

h3{
    font-size: 30px;
    color: aliceblue;
}

.numero-tarjeta p{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
}

/*Fromulario*/
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    justify-content: space-between;
    align-items: stretch;
}

form input{
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: #EEEEEE;
}

input::placeholder{
    color: black;
    font-weight: 700;
}

form h1{
    text-align: center;
    font-size: 30px;
}

.boton-entrar{
    align-self: center;
    width: 35%;
    height: 10%;
    margin-top: 30px;
    border: none;
    background-color: #068FFF;
    border-radius: 10px;
    color: #EEEEEE;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

form a{
    color: #068FFF;
    font-weight: bold;
}